[{:rdf/about :org.arachne-framework/arachne-doc
  :arachne.module/dependencies [:org.arachne-framework/arachne-core]
  :arachne.module/configure [arachne.doc/search-and-install]}

 ;; Install our minimal schema here instead of having a separate file. It's all in the same descriptor!
 {:rdf/about :arachne/doc
  :rdfs/domain :rdfs/Resource
  :rdfs/range :xsd/string}

 ]
